body {
    margin: 0;
    height: 500vh;
    background-image:url("../images/background3.jpg");
    background-size: contain;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

nav a {
   color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color:orange
}

h1 {
    font-size: 35px;
    color: orange;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: orange;
    margin: 0;
    text-align: center;
}


h3 {
    font-size: 20px;
    font-style: bold;
    color: white;
    margin: 20px 0;
    text-align: center;
}

p {
    font-size: 20px;
    font-style: normal;
    color: white; 
    text-align: left; 
    margin-left: 50px; 
    margin-right: 50px;
}


.catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
   padding: 20px;
}

.product {
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: auto;
    margin: 10px 0 5px 0;

}

.product-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px 0 5px 10px;
}

.product-desc {
    font-size: 16px;
    color: white
    margin 10px 5px 0;
}

product-price {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

