body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

h1 {
  font-size: 35px;
  color: orange;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: 20px;
}
nav {
  display: flex;
  align-items: center;
  gap: 24px;
}


nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: orange;
}

main {
  padding: 80px;
}


