body {
    background-image: url("../images/background3.jpg");      
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}


h1 {
   font-size: 35px;
   color: orange;
   margin: 0;
}

nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color:orange
}

h2 {
     font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, rgba(225, 225, 0));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: white;
    line-height: 1.6;
    text-align: left;
    margin: 0 50px 50px 50px;
}

main {                      /* main keeps content centered on larger screens */
    max-width: 1000px;
    margin: 0 auto;
}


@media (min-width: 1024px) {
    h2, p {
        text-align: left;
    }
}



